# Dependency directories
node_modules/

# Environment variables (Crucial for security)
.env

# Fortnite / Taxi Files (Private)
src/fortnite/
credentials.json

# Build files
dist/
build/
*.tsbuildinfo

# JSON files
*.json
!package.json
!package-lock.json
!tsconfig.json

# System files
.DS_Store
Thumbs.db
src/utils/itemUtils-vase.ts
